{% extends "base.html" %}
 {%block title%}Profile {%endblock title%}
{% block content %}


<div class=" image d-flex flex-column justify-content-center align-items-center"> 
    <button class="btn btn-secondary">
      <h1>Welcome, {{ user.username }}!</h1>
        <img src="{{user.profile_picture.url}} " class="profile_picture" alt="user.profile_picture">
    </button> <span class="name mt-3">{{user.first_name}}  {{user.last_name}}</span> 
    <span class="idd">@{{user.username}}</span>
    <span class="idd">@{{user.email}}</span>
 
          
    <div class=" d-flex mt-2">
         <button class="btn btn-dark"><a href="{% url 'profile_update'%}">Edit Profile</a> </button> 
        </div> 
    <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">

        <span class="join">Joined {{user.date_joined | date:"M d, Y" }}</span> 
      </div> 
    </div>


  <div class="row">
        <div class="col-md-6  col-12">    

          <h2>Your Friends:</h2>
            {% for friend in friends %}
                  {% if  friend.receiver != request.user%}
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{friend.receiver.profile_picture.url}}" class="img-fluid rounded-start profile_picture" alt="...">
                   </div>
                  <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"> <b>{{ friend.receiver.username }}</b></h5>
                    <p class="card-text"><b>{{friend.receiver.email}}</b></p>
                    <p class="card-text">
                      <small class="text-body-secondary">
                    <form action="{% url 'unfriend' friend.receiver.id %}" method="post">
                      {% csrf_token %}
                        <button type="submit" class="btn btn-info">unfriend</button>
                    </form>
                    </small></p>
                        </div>
              </div>
             </div>
           </div>

  {% elif friend.receiver == request.user %}

  <div class="card mb-3" style="max-widh: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{friend.sender.profile_picture.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> <b>{{ friend.sender.username }}</b></h5>
          <p class="card-text"><b>{{friend.sender.email}}</b></p>
          <p class="card-text"><small class="text-body-secondary">
            <form action="{% url 'unfriend' friend.sender.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-info">unfriend</button>
            </form>
          </small></p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
        {% empty %}
         <p>No friends yet.</p>
  {% endfor %}
</div>


<div class="col-md-6 col-12">
  {% if  non_friends %}
  <h1>People you may know: </h1>
  {% for unfriend in non_friends %}
  {% if unfriend != request.user %}

  <div class="card mb-3" style="max-widh: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{unfriend.profile_picture.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> <b>{{ unfriend.username }}</b></h5>
          <p class="card-text"><b>{{unfriend.email}}</b></p>
          <p class="card-text"><small class="text-body-secondary">
            <form action="{% url 'send_friend_request' unfriend.id %}" method="POST">
              {% csrf_token %}
              
              <button type="submit" class="btn btn-primary">Send request</button><br><br>
            </form> 
          </small></p>
        </div>
      </div>
    </div>
  </div>


    {% endif %}
    
    {% endfor %}
    {% endif %}

  </div>
</div>





<div class="row">
  <div class="col-md-6">
        
  <h2>Friend Requests:</h2>
  {% for request in friend_requests %}



  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{request.sender.profile_picture.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> <b>{{ request.sender.username }}</b></h5>
          <p class="card-text"><b>{{request.sender.email}}</b></p>
          <p class="card-text"><small class="text-body-secondary">


            <form action="{% url 'accept_friend_request' request.id %}" method="POST">
              {% csrf_token %}
              
              <button type="submit" class="btn btn-primary">Accept</button><br><br>
            </form> 
            <form method="POST" action="{% url 'reject_friend_request' request.id %}">
              {% csrf_token %}
              <button type="submit" class='btn btn-danger'>Reject</button>
            </form>

          </small></p>
        </div>
      </div>
    </div>
  </div>

  {% empty %}
    <p>No friend requests.</p>
  {% endfor %}</div>
 
  <div class="col-md-6 col-12">
    <h2>
      Requests you sent:
    </h2>
       
        {% for request in sent_requests %}
        
        <div class="card mb-3" style="max-widh: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{request.receiver.profile_picture.url}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"> <b>{{ request.receiver.username }}</b></h5>
                <p class="card-text"><b>{{request.receiver.email}}</b></p>
                <p class="card-text"><small class="text-body-secondary">
                  <form action="{% url 'unfriend' request.receiver.id %}" method="POST">
                    {% csrf_token %}
                    
                    <button type="submit" class="btn btn-danger">Unsend</button><br><br>
                  </form> 
                </small></p>
              </div>
            </div>
          </div>
        </div>
        
        
        
        
        
        {% endfor %}
  </div>
</div>






  
  



{% endblock content %}
